*{
    
}
body{
    margin: 4% 20%;
    display: grid;
    grid-template-areas:
    'nombre nombre foto'
    'datos datos datos';
    border:5px solid blue;
    padding:10px;
    border-radius: 10px;
    background-color: cornsilk;
    background-image: url("/Curriculum/fondo.jpg");
    background-repeat: none;
    background-size: cover;
}

body:hover{
    background-color: blue;
}

.nombre{grid-area: nombre;}
.foto{grid-area: foto;}
.datos{grid-area: datos;}


.nombre{
    font-size: 40px;
    color: cornflowerblue(128, 58, 0);
    text-shadow: 1px 1px 1px;
}
.nombre>p{
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    margin-top: 55px;
    margin-left: 10px;
}

.nombre>p:hover{
color: white;
background-color: black;
}


#foto{
    width: 80%;
    border-radius: 100px;
    margin-left: 10%;
    
}
.datos{
    color:white;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
}
.titulos{
    color: blue;
    border: 5px solid green;
    padding: 10px;
    border-radius: 50px;
    margin-right: 300px;
    background-color: white;
}
.calidad{
    font-size: 30px;
}



.tecnico{
    color:crimson
}