*{
    background-color: cornsilk;
}
body{
    margin: 0% 20%;
    display: grid;
    grid-template-areas:
    'nombre nombre foto'
    'datos datos datos'
}

.nombre{grid-area: nombre;}
.foto{grid-area: foto;}
.datos{grid-area: datos;}



.nombre{
    font-size: 40px;
    color: rgb(128, 58, 0);
}

.nombre:hover{
color: brown;
}


#foto{
    width: 80%;
    border-radius: 100px;
    margin-left: 10%;
    
}
.calidad{
    font-size: 30px;
}

.titulos{
    color: blue;
    border: 5px solid green;
    padding: 5px;
}

.tecnico{
    color:crimson
}